@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground-default: var(--foreground-default);
  --color-foreground-inverse: var(--foreground-inverse);
}

:root {
  --primary: #9163F2;
  --background: #ffffff;
  --foreground-default: #121212;
  --foreground-inverse: #ffffff;
}

.dark {
  --background: #121212;
  --foreground-inverse: #121212;
  --foreground-default: #ffffff;

}

::selection {
  background-color: var(--color-primary);
  color: white;
}
